@page
@model CRUDAPP.Pages.Funds.DeleteModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Fund</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fund.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fund.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fund.FundDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fund.FundDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fund.FundGivenTo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fund.FundGivenTo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fund.FundGivenBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fund.FundGivenBy)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Fund.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
